
body {
  background-color: #FFF1BD;
  margin: 0;
}


header {
  background-color: #146356;
  height: 100px;
}

img {
  background-color: #146356;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
}
 
.nav ul {
  background-color: #146356;
  list-style: none;
  margin: 0;
  padding: 20px 0 0 0;
  text-align: right;
}

.nav li {
  background-color: #146356;
  display: inline-block;
  padding: 20px;
  margin: 0 10px;
}
 
.nav a {
  background-color: #146356;
  color: white;
  text-decoration: none;
}

section {
  background-color: #FFF1BD;
  width: 840px;
  margin: 50px auto 0 auto;
}

.section-box {
  display: inline-block;
  width: 400px;
  height: 300px;
  vertical-align: top;
  box-sizing: border-box;
}

#quote-offer-container {
  background-color: #F3C892;
  border-radius: 10px;
  margin-right: 40px;
}

#quote-form-container {
  background-color: #FFF1BD;
  border: solid 2px #146356;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  height: 200px;
}

#quote-form {
  background-color: #FFF1BD;
  text-align: center;
}

.form-field {
  margin-bottom: 15px;
}

button {
  border: none;
  background-color: blue;
  color: white;
  height: 40px;
  width:  80px;
}